<%- contentFor('hero'); %>
<section class="hero">
	<h2>About us</h2>
	<p>We are good people.</p>

	<a href="/contact" class="btn btn-lg btn-warning">Contact Us!</a>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	About!
</div>
