<%- contentFor('hero'); %>
<section class="hero text-center">
	<h2>Welcome, my good friend!</h2>
	<p class="lead">Exciting and fun times are coming soon.</p>

	<a href="/contact" class="btn btn-lg btn-success">Contact Us!</a>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	<h1>Welcome - Home</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempore nemo expedita ratione cumque dolores iste ullam deleniti quas provident odit ducimus aliquid saepe non pariatur, ipsa delectus voluptates earum unde dolorum officiis porro. Minus eaque animi expedita, consequatur cumque labore sint quas inventore! Fugiat at quae nam odit vitae.</p>
	<p>Corporis blanditiis laudantium, impedit eveniet explicabo qui incidunt alias enim rem quasi, inventore? Ipsum quaerat porro sit, totam assumenda autem itaque sint reiciendis quasi eos saepe ducimus vero nisi eius vitae animi molestias cum, aspernatur, pariatur in labore! Adipisci eum explicabo, sint quo ullam exercitationem sit atque excepturi incidunt doloremque?</p>
	<p>Voluptatem corrupti ullam sequi quos deserunt accusantium eligendi, cum qui vitae ipsum quasi eveniet, aliquid. Quas ex aliquam ducimus hic, cupiditate nulla quibusdam illo id. Optio illum eius vero tempore eos tempora, expedita magnam aperiam adipisci cupiditate atque praesentium ducimus molestiae ea soluta, porro architecto rem, dolores consequuntur ullam esse?</p>
</div>
