<%- contentFor('hero'); %>
<section class="hero">
	<h2>Welcome, my good friend!</h2>
	<p>Exciting and fun times</p>

	<a href="/contact" class="btn btn-lg btn-success">Contact Us!</a>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home
</div>
